name: Docker Image CI

on:
  workflow_dispatch:
  push:
    paths:
      - src/**
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - uses: docker/login-action@v3
      name: Login to Docker Hub
      with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push multi-platform Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        platforms: linux/amd64,linux/arm64
        push: true
        tags: |
          moalhaddar/docx-to-pdf:latest
          moalhaddar/docx-to-pdf:2.1.0-${{github.run_number}}
        build-args: |
          TARGETPLATFORM
      
