name: Docker Base Image CI

on:
  workflow_dispatch:
  push:
    paths:
      - Dockerfile.base
    branches: [ "master" ]

jobs:

  build-base:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - uses: docker/login-action@v3
      name: Login to Docker Hub
      with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push multi-platform base Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile.base
        platforms: linux/amd64,linux/arm64
        push: true
        tags: |
          sage668/docx-to-pdf-base:1.0.0
          sage668/docx-to-pdf-base:latest
        build-args: |
          TARGETPLATFORM